@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
.container {
  position: relative;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  height: 100%;
  background-color: white;
  color: #282a35;
  padding-left: 12px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  padding: 10px;
  .menu {
    color: rgb(0, 132, 255);
    margin-top: 3px;
    font-size: 30px;
    cursor: pointer;
    &:hover {
      color: aqua;
    }
    @media (width > 975px) {
      display: none;
    }
  }
  .title {
    color: rgb(49, 124, 99);
    font-size: 20px;
    font-family: "Mochiy Pop P One", sans-serif;
    width: 100%;
    text-align: center;
    @media (width < 975px) {
      font-size: 18px;
    }
  }
  .right {
    font-family: "Righteous", cursive;
    right: 10px;
    position: absolute;
    font-size: 25px;
  }
}
