@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Source+Sans+Pro:wght@400;700;900&display=swap");
.container {
  .NavContent {
    height: 75px;
    width: 100%;
    position: relative;
    z-index: 2;
    font-size: 17px;
    background-color: #282a35;
    color: #f1f1f1;
    width: 100%;
    padding: 0;
    letter-spacing: 1px;
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    align-items: center;
    .Name {
      @media (width > 974px) {
        font-size: 18px;
        left: 20px;
      }
      @media (width < 975px) {
        display: none;
      }
      font-weight: 700;
      position: absolute;
      margin-top: 5px;

      cursor: pointer;
    }
    .title {
      width: 100%;
      text-align: center;
      @media (width < 975px) {
        font-size: 15px;
      }
    }
  }
}
