.container {
  width: 100%;
  margin-top: 1em;
  .textareaContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    .codeContainer {
      font-size: 16px;
      .code {
        word-wrap: break-word;
        white-space: pre-wrap;
        word-break: normal;
      }
      width: calc(100% - 30px);
      background-color: rgb(39, 43, 51);
      box-shadow: 1px 2px 10px rgb(119, 116, 116);
      resize: none;
      border: none;
      border-left: 2px white solid;
      color: white;
      padding: 20px;
    }
  }
  .outputContainer {
    margin: 1em 0;

    .output {
      color: gray;
      text-shadow: 1px 1px 10px black;
      padding: 5px 0;
      background-color: rgba(66, 65, 65, 0.485);
      .text {
        padding: 0 10px;
        p {
          line-height: 10px;
        }
      }
    }
  }
}
