.Nav {
  width: 100%;
  background-color: orange;
  height: 75px;
}
.Massage {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  z-index: 10;
}
.app {
  position: relative;
  width: 100%;
  .panel {
    z-index: 5;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    width: 100%;
    background-color: #ffffff;
    height: 45px;
  }
  .flex {
    height: 100%;
    display: flex;
    .C_SidLeft {
      top: 45px;
      position: -webkit-sticky;
      position: sticky;
      height: calc(100vh - 45px);
      display: none;
      overflow-y: auto;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #bbbaba;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      @media (width > 974px) {
        display: unset;
        width: 20%;
      }
      @media (width < 975px) {
        display: unset;
        position: sticky;
        overflow: visible;
        .sid {
          overflow: auto;
          position: absolute;
          width: 220px;
          height: calc(100vh - 45px);
          top: -1px;
          &::-webkit-scrollbar {
            width: 10px;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            background: #bbbaba;
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: #888;
          }

          /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
            background: #555;
          }
        }
      }
    }
    .C_SidLeftMobile {
      @media (width < 975px) {
        display: none;
      }
    }
    .C_EscapeSequences {
      padding: 20px;
      width: 100%;
      @media (width > 975px) {
        width: 80%;
      }
    }
  }
}
