html,
body {
  background-color: #212121;
  padding: 0;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

///For Styling code
.include {
  color: #bbff00;
}
.int,
.namespace {
  color: #09ff09;
}
.ioStream,
.return,
.std {
  color: #74e2e6;
}
.using {
  color: red;
}
.mainF {
  color: #e2df2a;
}
.string {
  color: orange;
}
.EscapeSequence {
  font-size: 20px;
  font-weight: 900;
  color: rgba(195, 0, 255, 0.897);
}
.number {
  color: rgb(215, 16, 241);
}
